.product__item{
    border: 1px solid #e2e2e2;
    position: relative;
    .product__img{
        padding:0 25px;
        overflow: hidden;
        img{
            transition:0.7s;
        }
    }
    .product_info{
        background: #e2e2e2;
        bottom: 0;
        padding: 10px 7px;

        .product__tittle{
            overflow: hidden;
            height: 44px;
            p{
                margin: 0;
                a{
                    line-height: 22px;
                    height: 44px;
                    margin-bottom: 7px;
                    font-size: 15px;
                    font-weight: 700;
                    transition: 0.5s;
                }
            }
        }
        .product__price{
            color: #be5b0b;
            font-size: 16px;
            font-weight: 700;
            margin-top: 10px;
        }
        .product__tittle:hover{
            a{
                color: #be5b0b;
            }
        }

    }
}
.product__item:hover{
    .product__img{
        img{
            transform: scale(1.1); 
        }
    }
}
