@charset "UTF-8";
/*  FONTS
------------------------*/
/*  TYPOGRAPHY
–––––––––––––––––––––––––––*/
html, body {
  margin: 0px;
  padding: 0px; }

img {
  max-width: 100%;
  border: none; }

.container {
  margin: 0px auto;
  max-width: 1140px; }

.fleft {
  float: left; }

.fright {
  float: right; }

.clear-fix, .clearfix, .clear {
  clear: both; }

a {
  text-decoration: none;
  color: inherit; }

#wrapper {
  width: 100%; }

/* ------ Normalize ----- */
.header {
  font-family: 'Roboto',Arial;
  position: absolute;
  width: 100%;
  z-index: 80; }
  .header .container {
    display: block; }
    .header .container .row {
      margin-top: 52px; }
      .header .container .row .logo {
        margin: 4px 15px 0px 15px; }
      .header .container .row .menu {
        color: white; }
        .header .container .row .menu ul {
          position: relative;
          margin: 0; }
          .header .container .row .menu ul li.menu__hover:hover ul.menu__2 {
            opacity: 1; }
          .header .container .row .menu ul li {
            display: inline-block;
            margin-bottom: 30px; }
            .header .container .row .menu ul li a {
              margin: 0 20px 10px 20px;
              padding-bottom: 10px;
              text-transform: uppercase;
              font-size: 13px;
              font-weight: 400;
              border-bottom: 3px solid transparent;
              -webkit-transition: 0.5s;
              -o-transition: 0.5s;
              -moz-transition: 0.5s;
              transition: 0.5s; }
            .header .container .row .menu ul li ul.menu__2 {
              position: absolute;
              top: 100%;
              opacity: 0;
              -webkit-transition: 0.5s;
              -o-transition: 0.5s;
              -moz-transition: 0.5s;
              transition: 0.5s;
              background: #1c1c1c;
              text-align: left;
              min-width: 190px;
              padding: 0; }
              .header .container .row .menu ul li ul.menu__2 li.menu__hover:hover ul.menu__3 {
                opacity: 1; }
              .header .container .row .menu ul li ul.menu__2 li {
                display: block;
                margin: 10px 0px 15px 0px;
                position: relative;
                padding-bottom: 10px;
                border-bottom: 1px solid #2b2b2b; }
                .header .container .row .menu ul li ul.menu__2 li a {
                  color: #bebebe;
                  margin: 0;
                  margin: 10px 30px 10px 10px;
                  width: 100%;
                  text-transform: none;
                  border-bottom: none; }
                .header .container .row .menu ul li ul.menu__2 li .fa-chevron-right {
                  position: absolute;
                  right: 10px;
                  font-size: 10px;
                  top: 5px; }
                .header .container .row .menu ul li ul.menu__2 li ul.menu__3 {
                  opacity: 0;
                  -webkit-transition: 0.5s;
                  -o-transition: 0.5s;
                  -moz-transition: 0.5s;
                  transition: 0.5s;
                  position: absolute;
                  left: 100%;
                  margin-left: 1px;
                  background: #1c1c1c;
                  text-align: left;
                  min-width: 190px;
                  padding: 0;
                  top: -10px; }
                  .header .container .row .menu ul li ul.menu__2 li ul.menu__3 li {
                    color: #bebebe; }
                  .header .container .row .menu ul li ul.menu__2 li ul.menu__3 li:hover a {
                    color: white; }
              .header .container .row .menu ul li ul.menu__2 li:hover a {
                color: white; }
                .header .container .row .menu ul li ul.menu__2 li:hover a ul.menu__3 li a {
                  color: #bebebe; }
              .header .container .row .menu ul li ul.menu__2 li:first-child {
                position: relative; }
                .header .container .row .menu ul li ul.menu__2 li:first-child a {
                  border: none; }
              .header .container .row .menu ul li ul.menu__2 li:last-child {
                margin-bottom: 0;
                border-bottom: none; }
          .header .container .row .menu ul li:hover a {
            border-bottom: 3px solid white; }
          .header .container .row .menu ul li:first-child a {
            padding-left: 0;
            border-bottom: 3px solid white; }
          .header .container .row .menu ul li:last-child a {
            border: none;
            margin: 0; }

@media screen and (max-width: 767px) {
  header#header .header {
    position: relative;
    background: #000;
    color: white; }
    header#header .header .container .row {
      margin-top: 0; }
      header#header .header .container .row .logo {
        max-width: 390px; }
        header#header .header .container .row .logo .logo__img {
          text-align: center; }
        header#header .header .container .row .logo nav.nav__respon ul.nav__respon__menu1 {
          margin: 30px 0;
          padding: 0; }
          header#header .header .container .row .logo nav.nav__respon ul.nav__respon__menu1 li {
            list-style: none; }
            header#header .header .container .row .logo nav.nav__respon ul.nav__respon__menu1 li .fa-chevron-right, header#header .header .container .row .logo nav.nav__respon ul.nav__respon__menu1 li .fa-chevron-left {
              font-size: 10px; }
            header#header .header .container .row .logo nav.nav__respon ul.nav__respon__menu1 li ul.nav__respon__menu2 {
              padding: 0; }
      header#header .header .container .row nav.menu {
        display: none; } }

section.slider {
  font-family: 'Roboto',Arial;
  display: block; }
  section.slider .owl-carousel .item .item__content {
    position: absolute;
    width: 100%;
    color: white;
    top: 247px;
    line-height: 44px;
    opacity: 0.7; }
    section.slider .owl-carousel .item .item__content h2 {
      font-size: 44px;
      font-weight: 300;
      text-transform: uppercase; }
    section.slider .owl-carousel .item .item__content .gach {
      height: 2px;
      width: 49px;
      left: 50%;
      margin-left: -24px;
      position: absolute;
      background: white;
      margin-bottom: 44px; }
    section.slider .owl-carousel .item .item__content h1 {
      font-size: 80px;
      text-transform: uppercase;
      padding-top: 22px; }
  section.slider .owl-carousel .item .text-center {
    text-align: center; }
  section.slider .owl-carousel .owl-nav.disabled {
    display: inline-block; }
    section.slider .owl-carousel .owl-nav.disabled .owl-prev {
      font-size: 0;
      background-image: url("images/left.png");
      width: 27px;
      height: 46px;
      position: absolute;
      top: 50%;
      left: 30px;
      opacity: 0;
      -webkit-transition: 1s;
      -o-transition: 1s;
      -moz-transition: 1s;
      transition: 1s; }
    section.slider .owl-carousel .owl-nav.disabled .owl-next {
      font-size: 0;
      background-image: url("images/right.png");
      width: 27px;
      height: 46px;
      position: absolute;
      top: 50%;
      right: 30px;
      opacity: 0;
      -webkit-transition: 1s;
      -o-transition: 1s;
      -moz-transition: 1s;
      transition: 1s; }
  section.slider .owl-carousel .owl-dots {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 35px; }
    section.slider .owl-carousel .owl-dots .owl-dot span {
      background: transparent;
      border: 2px solid white; }
    section.slider .owl-carousel .owl-dots .owl-dot.active span {
      background: gray; }

section.slider:hover .owl-carousel .owl-nav.disabled .owl-prev {
  opacity: 1; }

section.slider:hover .owl-carousel .owl-nav.disabled .owl-next {
  opacity: 1; }

footer#footer {
  background-color: red; }

.GioiThieu {
  font-family: 'Roboto', sans-serif; }
  .GioiThieu p {
    color: #909090;
    line-height: 22px;
    font-size: 14px;
    padding: 56px 0px 40px;
    margin: 0px; }
    .GioiThieu p a {
      color: #53bca7;
      font-weight: bold; }
