@charset "UTF-8";
/*  FONTS
------------------------*/
/*  TYPOGRAPHY
–––––––––––––––––––––––––––*/
html, body {
  margin: 0px;
  padding: 0px; }

img {
  max-width: 100%;
  border: none; }

.container {
  margin: 0px auto;
  width: 1170px; }

.fleft {
  float: left; }

.fright {
  float: right; }

.clear-fix, .clearfix, .clear {
  clear: both; }

a {
  text-decoration: none;
  color: inherit; }

/* ------ Normalize ----- */
.wall {
  width: 1170px;
  margin: 0 auto; }
  .wall ul {
    list-style: none;
    margin: 0; }
    .wall ul li {
      width: 70px;
      height: 70px;
      margin: 20px;
      background-color: red;
      float: left; }

footer#footer {
  background-color: red; }
