.GioiThieu{
  font-family: 'Roboto', sans-serif;
    p{
    color:#909090; 
    line-height: 22px;
    font-size: 14px;
    padding: 56px 0px 40px;
    margin:0px;
      a{
        color:#53bca7;
        font-weight: bold;
      }
    }
}