extends _layouts/layout
block content
  .banner
    p tin tức
  .bviet-tt
    .container
      .bviet-tt__content
        .bviet-tt__content__colleft.fleft
          .bv-tt-container
            .bv-tt-box
              a(href="khuyenmai.html").img
                img(src="images/BV-TT-bearch.jpg", alt="")
              .img-descrip
                .img-descrip__date.fleft
                  p 18
                  span Tháng 02
                .img-descrip__text.fleft
                  .img-descrip__text__cmt
                    i.fas.fa-pencil-alt
                    |Diêm Nguyễn
                    i.fas.fa-comments
                    |0 Bình luận
                  .paragrap
                    a.para-title(href="khuyenmai.html") khuyến mãi hè 2016
                    p.para-content Windmill Hotel được xây dựng dọc bờ biển, dựa theo ý tưởng Hy Lạp cổ đại, nhưng vẫn mang hình ảnh hiên đại, với nhiều dịch vụ tính năng phù...
                    a.continue(href="khuyenmai.html") Xem tiếp
                      i.fas.fa-long-arrow-alt-right
                .clearfix 
            .page_down2
              .page_down_item
                a(href="BViet_TTuc_Trang.html").fleft.node_next
                  i.fas.fa-angle-left.page-node
                  span Trang trước
                a(href="BViet_TTuc_Trang.html").fleft.page_node 1
                a(href="#").fleft.page_node2 2
                .clear-fix
        .bviet-tt__content__colright.fleft
          .bv-tt-container
            .colright-box
              .colright-box__title
                p Danh mục
              .colright-box__content
                .colright-box__content__menu
                  ul
                    li
                      a(href="#") Trang chủ
                    li
                      a(href="#") Các loại phòng
                    li
                      a(href="#") Bài viết - Tin tức
                    li
                      a(href="#") Giới thiệu
                    li
                      a(href="#") Liên hệ
            .colright-box
              .colright-box__title
                p BLOG ROSEDALE HOTEL
              .colright-box__content
                .colright-box__content__text
                  p Rosedale Hotel được xây dựng dọc bờ biển, dựa theo ý tưởng Hy Lạp cổ đại, nhưng vẫn mang hình ảnh hiên đại, với nhiều dịch vụ tính năng phù hợp với nhiêu tập khách hàng, từ khách hàng đơn lẻ tới gia đình, với không gian thoán đãng, giúp bạn tận hưởng và thư giãn trọn vẹn kỳ nghỉ.
            .colright-box
              .colright-box__title
                p BÀI VIẾT MỚI NHẤT
              .colright-box__content
                .colright-box__content__item
                  .item-left.fleft
                    a(href="khuyenmai.html")
                      img(src="images/BV-TT-bearch.jpg", alt="")
                  .item-right.fleft
                    a(href="khuyenmai.html")
                      p Khuyến mãi hè 2016
                    i.far.fa-clock
                    span 18/02/2016
                  .clearfix
               
            .colright-box
              .colright-box__title
                p TAGS
              .colright-box__content
                .colright-box__content__btn.fleft
                  a(href="#") Blog
                .colright-box__content__btn.fleft
                  a(href="#") Phòng hiện đại
                .colright-box__content__btn.fleft
                  a(href="#") Phòng đẹp
                .colright-box__content__btn.fleft
                  a(href="#") Video
                .clearfix
        .clear-fix
      .bv-tt-margin
  
      