extends _layouts/layout
block content
  .room_banner
    h1 Tất cả sản phẩm
    p Rosedale Hotel vui lòng khách đến - Hài lòng khách đi
  #Main_room.Main_room.container
    .list
      .list-item
        .fleft.item
          .item-box
            .item_image
              a(href="")
                img(src="images/main_pr8_large.jpg" alt="Room_04")
            .item_detail
              h3.room-title
                a(href="") Phòng mặc định
              .hotel-room-infor
                .room-infor
                  i.far.fa-check-square
                  span.head Giường
                  span.tail 1 giường lớn
                .room-infor
                  i.far.fa-check-square
                  span.head Người
                  span.tail 2 người
                .room-infor
                  i.far.fa-check-square
                  span.head Hướng
                  span.tail Biển
                .room-infor
                  i.far.fa-check-square
                  span.head Kích thước
                  span.tail 70 spm
                .room-price
                  span.head Giá phòng
                  span.tail 450,000đ / Đêm
              .button-click
                a(href="")
                  span Xem chi tiết
                  spani.fas.fa-long-arrow-alt-right
        .fleft.item
          .item-box
            .item_image
              a(href="")
                img(src="images/room_pr4_large.jpg" alt="Room_04")
            .item_detail
              h3.room-title
                a(href="") Phòng đôi DBL 004 hiện đại...
              .hotel-room-infor
                .room-infor
                  i.far.fa-check-square
                  span.head Giường
                  span.tail 2 giường lớn
                .room-infor
                  i.far.fa-check-square
                  span.head Người
                  span.tail 4 người
                .room-infor
                  i.far.fa-check-square
                  span.head Hướng
                  span.tail Thành phố
                .room-infor
                  i.far.fa-check-square
                  span.head Kích thước
                  span.tail 250 spm
                .room-price
                  span.head Giá phòng
                  span.tail 900,000đ / Đêm
              .button-click
                a(href="")
                  span Xem chi tiết
                  spani.fas.fa-long-arrow-alt-right
        .fleft.item
          .item-box
            .item_image
              a(href="")
                img(src="images/room_pr2_large.jpg" alt="Room_04")
            .item_detail
              h3.room-title 
                a(href="") Phòng đôi DBL 003 hiện đại...
              .hotel-room-infor
                .room-infor
                  i.far.fa-check-square
                  span.head Giường
                  span.tail 2 giường lớn
                .room-infor
                  i.far.fa-check-square
                  span.head Người
                  span.tail 4 người
                .room-infor
                  i.far.fa-check-square
                  span.head Hướng
                  span.tail Biển
                .room-infor
                  i.far.fa-check-square
                  span.head Kích thước
                  span.tail 250 spm
                .room-price
                  span.head Giá phòng
                  span.tail 800,000₫ / Đêm
              .button-click
                a(href="")
                  span Xem chi tiết
                  spani.fas.fa-long-arrow-alt-right
        .fleft.item
          .item-box
            .item_image
              a(href="")
                img(src="images/room_pr1_large.jpg" alt="Room_04")
            .item_detail
              h3.room-title 
                a(href="") Phòng đôi DBL 002 hiện đại...
              .hotel-room-infor
                .room-infor
                  i.far.fa-check-square
                  span.head Giường
                  span.tail 2 giường lớn
                .room-infor
                  i.far.fa-check-square
                  span.head Người
                  span.tail 4 người
                .room-infor
                  i.far.fa-check-square
                  span.head Hướng
                  span.tail Thành phố
                .room-infor
                  i.far.fa-check-square
                  span.head Kích thước
                  span.tail 70 spm
                .room-price
                  span.head Giá phòng
                  span.tail 900,000₫ / Đêm
              .button-click
                a(href="")
                  span Xem chi tiết
                  spani.fas.fa-long-arrow-alt-right
        .fleft.item
          .item-box
            .item_image
              a(href="")
                img(src="images/room_pr2_large.jpg" alt="Room_04")
            .item_detail
              h3.room-title 
                a(href="") Phòng đôi DBL 001 hiện đại...
              .hotel-room-infor
                .room-infor
                  i.far.fa-check-square
                  span.head Giường
                  span.tail 2 giường lớn
                .room-infor
                  i.far.fa-check-square
                  span.head Người
                  span.tail 4 người
                .room-infor
                  i.far.fa-check-square
                  span.head Hướng
                  span.tail Biển
                .room-infor
                  i.far.fa-check-square
                  span.head Kích thước
                  span.tail 250 spm
                .room-price
                  span.head Giá phòng
                  span.tail 900,000₫ / Đêm
              .button-click
                a(href="")
                  span Xem chi tiết
                  spani.fas.fa-long-arrow-alt-right
        .fleft.item
          .item-box
            .item_image
              a(href="")
                img(src="images/room_pr3_large.jpg" alt="Room_04")
            .item_detail
              h3.room-title 
                a(href="") Phòng 04
              .hotel-room-infor
                .room-infor
                  i.far.fa-check-square
                  span.head Giường
                  span.tail 1 giường lớn
                .room-infor
                  i.far.fa-check-square
                  span.head Người
                  span.tail 4 người
                .room-infor
                  i.far.fa-check-square
                  span.head Hướng
                  span.tail Thành phố
                .room-infor
                  i.far.fa-check-square
                  span.head Kích thước
                  span.tail 250 spm
                .room-price
                  span.head Giá phòng
                  span.tail 480,000₫ / Đêm
              .button-click
                a(href="")
                  span Xem chi tiết
                  spani.fas.fa-long-arrow-alt-right
        .clear-fix
    .page_down
      .page_down_item
        a(href="").fleft.page_node 1
        a(href="Cac_Loai_phong2.html").fleft.page_node 2
        a(href="").fleft.node_next
          i.fas.fa-angle-right.page-node
          span
            a(href="") Trang sau
        .clear-fix

