extends _layouts/layout
block content
  .room_banner
    h1 Tất cả sản phẩm
    p Rosedale Hotel vui lòng khách đến - Hài lòng khách đi
  #Main_room.Main_room.container
    .list
      .list-item
        .fleft.item
          .item-box
            .item_image
              a(href="")
                img(src="images/people.jpg" alt="Room_04")
            .item_detail
              h3.room-title
                a(href="") Phòng 03
              .hotel-room-infor
                .room-infor
                  i.far.fa-check-square
                  span.head Giường
                  span.tail 1 giường lớn
                .room-infor
                  i.far.fa-check-square
                  span.head Người
                  span.tail 4 người
                .room-infor
                  i.far.fa-check-square
                  span.head Hướng
                  span.tail Biển
                .room-infor
                  i.far.fa-check-square
                  span.head Kích thước
                  span.tail 250 spm
                .room-price
                  span.head Giá phòng
                  span.tail 600,000đ / Đêm
              .button-click
                a(href="")
                  span Xem chi tiết
                  spani.fas.fa-long-arrow-alt-right
        .fleft.item
          .item-box
            .item_image
              a(href="")
                img(src="images/room5.jpg" alt="Room_04")
            .item_detail
              h3.room-title
                a(href="") Phòng 02
              .hotel-room-infor
                .room-infor
                  i.far.fa-check-square
                  span.head Giường
                  span.tail 1 giường lớn
                .room-infor
                  i.far.fa-check-square
                  span.head Người
                  span.tail 2 người
                .room-infor
                  i.far.fa-check-square
                  span.head Hướng
                  span.tail Thành phố
                .room-infor
                  i.far.fa-check-square
                  span.head Kích thước
                  span.tail 70 spm
                .room-price
                  span.head Giá phòng
                  span.tail 350,000đ / Đêm
              .button-click
                a(href="")
                  span Xem chi tiết
                  spani.fas.fa-long-arrow-alt-right
        .fleft.item
          .item-box
            .item_image
              a(href="")
                img(src="images/room6.jpg" alt="Room_04")
            .item_detail
              h3.room-title 
                a(href="") Phòng 01
              .hotel-room-infor
                .room-infor
                  i.far.fa-check-square
                  span.head Giường
                  span.tail 1 giường lớn
                .room-infor
                  i.far.fa-check-square
                  span.head Người
                  span.tail 2 người
                .room-infor
                  i.far.fa-check-square
                  span.head Hướng
                  span.tail Thành phố
                .room-infor
                  i.far.fa-check-square
                  span.head Kích thước
                  span.tail 250 spm
                .room-price
                  span.head Giá phòng
                  span.tail 5.000,000₫ / Đêm
              .button-click
                a(href="")
                  span Xem chi tiết
                  spani.fas.fa-long-arrow-alt-right
        .clear-fix
    .page_down
      .page_down_item
        a(href="Cac_Loai_phong.html").fleft.node_next
          i.fas.fa-angle-left.page-node
          span Trang trước
        a(href="Cac_Loai_phong.html").fleft.page_node 1
        a(href="#").fleft.page_node2 2
        .clear-fix