extends _layouts/layout
block content
	+phongDT('phòng mặc định','images/main_pr8_large.jpg','phòng mặc định','450,000 / Đêm','1 người lớn','2 người','Biển','70 spm','Có','Không','Không','Không','Chưa có mô tả cho sản phẩm này')