extends _layouts/layout
block content
	+phongDT('phòng 01','images/phong01.jpg','phòng 01','500,000,000 / Đêm','1 người lớn','2 người','Thành phố','70 spm','Có','Có','Có','Có','Phòng hướng biển, với cảnh quan tuyệt đẹp, bạn sẽ tận hưởng đầy đủ kỳ nghỉ với các dịch vụ hoàn hảo. Buổi sáng có thể ngắm bình minh, buổi chiều có thể ngắm hoàng hôn, ngoài ra khách đặt phòng còn được miễn phí ăn sáng các buổi, miễn phí spa 2 ngày. Tiện ích phòng đầy đủ máy lạnh, máy giặt, tivi màn hình phẳng 45" và nhiều tiện ích khác nữa.')