extends _layouts/layout
block content
	+phongDT('PHÒNG ĐÔI DBL 004 HIỆN ĐẠI NGẮM CẢNH BIỂN','images/room_pr4_large.jpg','PHÒNG ĐÔI DBL 004 HIỆN ĐẠI NGẮM CẢNH BIỂN','900,000 / Đêm','2 người lớn','4 người','Thành phố','250 spm','Có','Có','Không','Có','Phòng hướng biển, với cảnh quan tuyệt đẹp, bạn sẽ tận hưởng đầy đủ kỳ nghỉ với các dịch vụ hoàn hảo. Buổi sáng có thể ngắm bình minh, buổi chiều có thể ngắm hoàng hôn, ngoài ra khách đặt phòng còn được miễn phí ăn sáng các buổi, miễn phí spa 2 ngày. Tiện ích phòng đầy đủ máy lạnh, máy giặt, tivi màn hình phẳng 45" và nhiều tiện ích khác nữa.')