extends _layouts/layout
block content
  .banner
    p AAAAAAAAAAAAAAAAAAAAAA
  .room-content
    .container
      .room-content__infor.fleft
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi nobis totam mollitia tenetur esse reiciendis odit incidunt qui quaerat quo?
      .room-content__form.fright
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus rerum commodi modi quidem dolores cum excepturi dolor aspernatur necessitatibus ab.
      .clear-fix