
section.slider
    .owl-carousel.owl-theme
        .item
            img(src="images/slideshow_1.jpg", alt="")
            .item__content.text-center
                h2.wow.tada Chào mừng bạn tới
                .gach.wow.tada
                h1.wow.tada rosedale hotel
                p.wow.tada Đặt phòng nhanh nhất và rẻ nhât
        .item
            img(src="images/slideshow_2.jpg", alt="")
            .item__content.text-center
                h2.wow.tada Hưởng thụ
                .gach.wow.tada
                h1.wow.tada spa master
                p.wow.tada Dịch vụ tốt nhất hiện nay
        .item
            img(src="images/slideshow_3.jpg", alt="")
            .item__content.text-center
                h2.wow.tada Khuyễn mãi lớn
                .gach.wow.tada
                h1.wow.tada Giảm 50%
                p.wow.tada Thưởng thức các món ăn đặc biệt nhất