section.slider
        .owl-carousel.owl-theme
            .item
                img(src="images/slideshow_1.jpg", alt="")
                .item__content.text-center
                    h2 Chào mừng bạn tới
                    .gach
                    h1 rosedale hotel
                    p Đặt phòng nhanh nhất và rẻ nhât
            .item
                img(src="images/slideshow_2.jpg", alt="")
                .item__content.text-center
                    h2 Hưởng thụ
                    .gach
                    h1 spa master
                    p Dịch vụ tốt nhất hiện nay
            .item
                img(src="images/slideshow_3.jpg", alt="")
                .item__content.text-center
                    h2 Khuyễn mãi lớn
                    .gach.wow.tada
                    h1 Giảm 50%
                    p Thưởng thức các món ăn đặc biệt nhất