header#header
    .header
        .container
            .row
                .logo.fleft
                    .logo__img
                        img(src="images/logo.png", alt="")
                    button
                        .press
                            i.fas.fa-bars
                    nav.nav__respon
                        ul.nav__respon__menu1
                            li
                                a(href="#") Trang chủ
                            li
                                a(href="#") Các loại phòng 
                                i.fas.fa-chevron-right.fright
                                ul.nav__respon__menu2
                                    li
                                        i.fas.fa-chevron-left
                                        a(href="#") Quay lại
                                    li
                                        a(href="#") Các loại phòng
                                    li
                                        a(href="#") Phòng đơn
                                        i.fas.fa-chevron-right
                                        ul.nav__respon__menu3
                                            li
                                                i.fas.fa-chevron-left
                                                a(href="#") Quay lại
                                            li
                                                a(href="#") Phòng đơn
                                            li
                                                a(href="#") Phòng đơn lớn
                                            li
                                                a(href="#") Phòng đơn nhỏ 
                                    li
                                        a(href="#") Phòng đôi
                                    li
                                        a(href="#") Phòng đặc biệt
                                    li
                                        a(href="#") Phòng gia đình 
                            li
                                a(href="#") Bài viết - Tin tức
                            li
                                a(href="#") Giới thiệu 
                            li
                                a(href="#") Liên hệ
                nav.menu.fright
                    ul
                        li
                            a(href="#") Trang Chủ
                        li.menu__hover
                            a(href="#") Các loại phòng
                            ul.menu__2
                                li.menu__hover
                                    a(href="#") Phòng đơn
                                    i.fas.fa-chevron-right.fright
                                    ul.menu__3
                                        li
                                            a(href="#") Phòng đơn lớn

                                        li
                                            a(href="#") Phòng đơn nhỏ
                                li
                                    a(href="#") Phòng đôi
                                li
                                    a(href="#") Phòng đặc biệt 
                                li
                                    a(href="#") Phòng gia đình
                        li
                            a(href="#") Bài viết - Tin tức
                        li
                            a(href="#") Giới thiệu
                        li
                            a(href="#") Liên Hệ
                        li
                            a(href="#")
                                i.fa.fa-search

                .clearfix
    