mixin product(img, tittle, price)
    .product__item
        .product__img
            a(href="#")
                img(src=img, alt="")
        .product_info
            .product__tittle
                p.text
                    a(href="")=tittle
            .product__price
                a(href="")=price
