/*  FONTS
------------------------*/


/*  TYPOGRAPHY
–––––––––––––––––––––––––––*/

html, body{
  margin: 0px;
  padding: 0px;
}
img{
  max-width: 100%;
  border: none;
}

.container{
  margin: 0px auto;
  max-width: 1140px;
}

.fleft{
  float: left;
}
.fright{
  float: right;
}

.clear-fix, .clearfix,.clear{
  clear: both;
}
a{
  text-decoration: none;
  color: inherit;
}



/* ------ Normalize ----- */